-- Fixed script to create vulnerability-CVE and vulnerability-patch relationships

-- 1. First, let's fix the vulnerability-CVE relationships
DO SELECT COUNT(*) FROM vulnerability_cves; SELECT COUNT(*) FROM vulnerability_patches;
DECLARE
    vuln_record RECORD;
    cve_list TEXT[] := ARRAY['CVE-2017-0144', 'CVE-2021-44228', 'CVE-2014-0160', 'CVE-2021-34527', 'CVE-2022-22965'];
    num_cves INTEGER;
    i INTEGER;
    cve_id TEXT;
BEGIN
    -- For each vulnerability, randomly assign 1-3 CVEs
    FOR vuln_record IN SELECT id FROM vulnerabilities ORDER BY id LIMIT 100 LOOP
        num_cves := 1 + (RANDOM() * 2)::integer; -- 1 to 3 CVEs per vulnerability
        
        FOR i IN 1..num_cves LOOP
            -- Select a random CVE from the list
            cve_id := cve_list[1 + (RANDOM() * (array_length(cve_list, 1) - 1))::integer];
            
            -- Check if the relationship already exists
            IF NOT EXISTS (
                SELECT 1 FROM vulnerability_cves 
                WHERE vulnerability_id = vuln_record.id AND cve_id = cve_id
            ) THEN
                -- Insert the relationship
                INSERT INTO vulnerability_cves (vulnerability_id, cve_id)
                VALUES (vuln_record.id, cve_id);
            END IF;
        END LOOP;
    END LOOP;
END SELECT COUNT(*) FROM vulnerability_cves; SELECT COUNT(*) FROM vulnerability_patches;;

-- 2. Now, let's fix the vulnerability-patch relationships
DO SELECT COUNT(*) FROM vulnerability_cves; SELECT COUNT(*) FROM vulnerability_patches;
DECLARE
    vuln_record RECORD;
    patch_record RECORD;
    effectiveness_list TEXT[] := ARRAY['complete', 'partial', 'minimal'];
    effectiveness TEXT;
BEGIN
    -- Focus on Critical and High severity vulnerabilities
    FOR vuln_record IN
        SELECT id, plugin_name, severity, severity_name
        FROM vulnerabilities
        WHERE severity >= 3  -- High and Critical only
        ORDER BY id
        LIMIT 50  -- Limit to avoid processing too many
    LOOP
        -- Get a random patch
        SELECT id, patch_id INTO patch_record
        FROM patches
        ORDER BY RANDOM()
        LIMIT 1;
        
        -- Select a random effectiveness value
        effectiveness := effectiveness_list[1 + (RANDOM() * 2)::integer];
        
        -- Check if the relationship already exists
        IF NOT EXISTS (
            SELECT 1 FROM vulnerability_patches 
            WHERE vulnerability_id = vuln_record.id AND patch_id = patch_record.id
        ) THEN
            -- Insert the relationship with proper effectiveness value
            INSERT INTO vulnerability_patches (
                vulnerability_id,
                patch_id,
                effectiveness,
                notes
            )
            VALUES (
                vuln_record.id,
                patch_record.id,
                effectiveness,
                CASE
                    WHEN vuln_record.severity_name = 'Critical' THEN 'Critical patch required immediately'
                    WHEN vuln_record.severity_name = 'High' THEN 'High priority patch recommended'
                    ELSE 'Standard patch deployment'
                END
            );
        END IF;
    END LOOP;
END SELECT COUNT(*) FROM vulnerability_cves; SELECT COUNT(*) FROM vulnerability_patches;;

-- 3. Verify the results
SELECT 'Vulnerability CVEs' as table_name, COUNT(*) as count FROM vulnerability_cves
UNION ALL
SELECT 'Vulnerability Patches' as table_name, COUNT(*) as count FROM vulnerability_patches;

